body {
    font-family: 'Roboto', sans-serif;
    background: #EDE574;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
    margin: 100px auto;
    background: #f7f7f7;
    width: 360px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.strike {
    color: gray;
    text-decoration: gray line-through;
}

.hidden {
    display: none;
}

.fa-plus {
    float: right;
}

span {
    background: #e74c3c;
	height: 100%;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
    box-sizing: border-box;
    border: none;
    transition: 0.2s linear;
    opacity: 0;
}

h1 {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal;
}

input {
    width: 100%;
    background: #f7f7f7;
    font-size: 18px;
    padding: 13px 13px 13px 20px;
    color: #2980b9;
    border: 3px solid rgba(0,0,0,0);
    margin: 0;
}

input:focus {
    background: white;
    border: 3px solid #2980b9;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    height: 40px;
    color: #666;
    line-height: 40px;
}

li:nth-child(odd) {
    background: white;
}


li:hover span {
    width: 40px;
    opacity: 1.0;
}
